<div class="row">
    <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <app-categoria-livro></app-categoria-livro>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let livro_ of livroModelPaginationList">
                    <div class="card h-100">
                        <a routerLink="/livro/{{livro_.codigo}}"><img class="card-img-top" [src]="livro_.urlImagem" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a routerLink="/livro/{{livro_.codigo}}">{{livro_.nome}}</a>
                            </h4>
                            <h5>{{livro_.precoUnitatio | currency: 'BRL':true}}</h5>
                            <p class="card-text">{{livro_.descricao}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Adicionar no Carrinho</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="livroList.length == 0" class="col-md-12 alert alert-warning">
                    <p>Nenhum livro Encontrado!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <span class="mr-2">
                            Quantidade
                        </span>
                    </div>
                    <div class="col-md-8">
                        <select (change)="carregarQuantidadeLivroPesquisa($event.target.value)" class="form control-sm" style="width: 20%;">
                            <option selected>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <jw-pagination [items]="livroList" (changePage)="carregarProximaPagina($event)" [pageSize]="quantidadeLivroRetorno"></jw-pagination>
            </div>
        </div>
    </div>
</div>